{% extends 'base.html.twig' %}

{% block title %}Matcha - Manage photos{% endblock %}

{% block body %}

    <div class="container">
        <div>
            <h1>Manage  your photos</h1>
        </div>
        <div class="row">

        {% for image in user.getImages() %}
            <div class="col-md-4">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">
                        {%if not image.getIsProfileImage()%}
                            Photo {{ loop.index }}
                        {% else %}
                            Profile's picture
                        {% endif %}
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <img class="img-fluid" alt="{{ image.name }}" style="height: 200px;" src="{{ asset('/images/users/' ~ image.getName() )}}">
                    </div>
                    <div>
                        {% set routeName = 'user.delete.photo' %}
                        {% set routeUrl = path(routeName, {'photoId' : image.id()}) %}
                        <a href="{{ routeUrl }}"><button class="btn btn-primary btn-group-sm"><i class="fa-solid fa-trash-can fa-sm"></i></button></a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {{ form(form) }}
    </div>
{% endblock %}