{% extends 'base.html.twig' %}

{% block title %}Matcha - My Profile{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mb-3 mt-4">
            <h3 class="card-header">{{ user.username | capitalize }} - {{ user.age }} yrs</h3>
            <div class="card-body">
                <h5 class="card-title">{{ user.firstname | capitalize }} {{ user.lastname | capitalize }}</h5>
                <h6 class="card-subtitle text-muted">{{ user.email }}</h6>
            </div>
            <ul class="list-group list-group-flush">

                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-md-2">
                                Gender:
                            </div>
                            <div class="col-md-1">
                                <span class="badge bg-primary">{{ user.gender.name }}</span>
                            </div>
                        </div>
                    </li>
                <li class="list-group-item ">
                    <div class="row">
                        <div class="col-md-2">
                            Sexuality:
                        </div>
                        <div class="col-md-1">
                            <span class="badge bg-primary">{{ user.sexuality.name }}</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item ">
                    <div class="row">
                        <div class="col-md-2">
                            Tags:
                        </div>
                        {% for tag in user.tags  %}
                            <div class="col-md-1">
                                <span class="badge bg-primary">#{{ tag }}</span>
                            </div>
                        {% endfor %}

                    </div>
                </li>
            </ul>
            <div class="card-body">
                <h3>Gallery</h3>
                {% for image in user.getImages() %}
                  <img class="w-25 p-3" src="{{ asset('/images/users/' ~ image.name ~ '.png')}}">
                {% endfor %}
            </div>
            <div class="card-body">
                <h3>About Me</h3>
                <p class="card-text">{{ user.biography }}</p>
            </div>
            {%  if app.request.get('id') == user.id %}
                <div class="card-body">
                    {% set routeName = 'user.edit' %}
                    {% set routeUrl = path(routeName, {'id' : user.id}) %}
                    <button type="button" class="btn btn-primary"><a href="{{ routeUrl }}" class="card-link">Edit</a></button>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
