{% extends 'base.html.twig' %}

{% block title %}Matcha - Connexion{% endblock %}

{% block body %}
    <div class="container">
        {% if error %}
            <div class="alert alert-danger mt-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
    <form action="{{ path('security.login') }}" method="post">
        <fieldset>
            <legend>Matcha - Connexion Form</legend>
            <div class="form-group">
                <label for="username" class="form-label mt-4">Username</label>
                <input type="text" class="form-control" id="username" name="_username" placeholder="Enter username" value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label for="password" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" id="password" name="_password" placeholder="********" autocomplete="off">
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-primary mt-4">Connexion</button>
        </fieldset>
    </form>
    </div>
{% endblock %}
