{% extends 'base.html.twig' %}

{% block title %}Matcha - Connexion{% endblock %}

{% set include_header = false %}

{% block body %}
    <div class="container">
        {% if error %}
            <div class="alert alert-danger mt-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
    <form action="{{ path('security.login') }}" method="post">
        <fieldset>
            <h1><span class="matchaRose">Matcha</span> - Login</h1>
            <legend>Love is in the air! 💘<br>
                Dive into the world of romance by logging into your account.<br>
                Your next exciting connection is just a click away.</legend>
            <div class="form-group">
                <label for="username" class="form-label mt-4">Username</label>
                <input type="text" class="form-control" id="username" name="_username" placeholder="Enter username" value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label for="password" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" id="password" name="_password" placeholder="********" autocomplete="off">
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-primary mt-4">Connexion</button>
        </fieldset>
    </form>
    </div>
{% endblock %}
